<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MyDb"
			 connectionString="Server=tramway.proxy.rlwy.net;Port=28402;UserID=root;Password=pZlJfPCHowAhtGZNndqVoVgJbGrgeLRy;Database=railway;SslMode=Required"
			 providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
</configuration>
